<h3>Cart for Order #: </h3>

<div>
    <table>
        <thead>
            <tr id="head">
                <th>cid</th>
                <th>date</th>
                <th>pid</th>
                <th>quantity</th>
                <th>purchased</th>
            </tr>
        </thead>
        <tbody>
            {{#each results}}
            <tr>
                <td>{{this.cid}}</td>
                <td>{{this.date}}</td>
                <td>{{this.pid}}</td>
                <td>{{this.quantity}}</td>
                <td>{{this.purchased}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

<h3 style="margin:5px;">Your total is: </h3>
<a href="http://flip3.engr.oregonstate.edu:7753"><button id="buy" onclick="http://flip3.engr.oregonstate.edu:7753/">Purchase</button></a>

</div>