<h2> Please Enter your customer ID</h2>
<form action="flip3.engr.oregonstate.edu:7755/cart_individual" method="GET">
    <label for="cid">CID: </label>
    <input type="number" id="cid"><br>
    <input type="submit" id="submit"><br>
</form>

<h3>Cart for all customers</h3>

<div>
    <table>
        <thead>
            <tr id="head">
                <th>cid</th>
                <th>date</th>
                <th>pid</th>
                <th>quantity</th>
                <th>purchased</th>
            </tr>
        </thead>
        <tbody id="table">
            {{#each results}}
            <tr>
                <td>{{this.cid}}</td>
                <td>{{this.date}}</td>
                <td>{{this.pid}}</td>
                <td>{{this.quantity}}</td>
                <td>{{this.purchased}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

<h3 style="margin:5px;">Your total is: </h3>
<script src="js/cart_delete_ajax.js"></script>

</div>