<h3>Customers JOIN with SalesOrders</h3>
<p>This page exists solely to demonstrate the nullable relationship between Customers and SalesOrders, thus satisfying the project 
    requirement that at least one one:many relationship be nullable. This table shows that a customer need not be associated with 
    a sale in order to exist, but a single customer may be associated with many sales.
    Note: separate sales made by a single customer each on the same day are considered to be a single sale.
</p>
<div>
    <table>
        <thead>
            <tr id="head">
                <th>Customer ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Sales Orders</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
          {{#each results}}
            <tr>
                <td>{{this.cid}}</td>
                <td>{{this.f_name}}</td>
                <td>{{this.l_name}}</td>
                <td>{{this.date}}</td>
                <td>{{this.cost}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>