<h3>Customers JOIN with SalesOrders</h3>

<div>
    <table>
        <thead>
            <tr id="head">
                <th>Customer ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Sales Orders</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
          {{#each results}}
            <tr>
                <td>{{this.cid}}</td>
                <td>{{this.f_name}}</td>
                <td>{{this.l_name}}</td>
                <td>{{this.date}}</td>
                <td>{{this.cost}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>